# Default ignored files
/shelf/
/workspace.xml
/archive
/.lambda_dependencies
/NEW.lambda_depndencies
/cdk.out
/.env
/.idea
/.vscode
/ec2-controler/
/scripts/
/hyper_batch/__pycache__/
/host_credentials/*
!/host_credentials/.gitkeep
*.egg-info/
*.egg
*.pyc