aws-cdk-lib<3.0.0,>=2.51.0
constructs>=10.0.0,<11.0.0
aws-cdk.aws-batch-alpha==2.55.1a0

awscli
boto3
botocore
cdk-ecr-deployment
click
gql
jsii
jsonpickle==2.0.0
aiohttp
requests
py-cpuinfo==8.0.0.0
psutil
